<style type="text/css">
	.deanportalavar{ width:48px; height:48px; float:left; margin-top:5px;}
		.deanportalavar img{ width:48px; height:48px; border-radius:48px; }
	.deanportalinfo{ float:left; margin-left:10px; width:700px;} 
	.deanportalinfos{ font-size:14px; color:#626262; line-height:25px;}
		.deanportalinfo span{ line-height:30px; color:#959595;}
		.deanportalinfo span a{ color:#959595;}
</style>
<a name="comment_anchor_$comment[cid]"></a>
<div id="comment_{$comment[cid]}_li" class="ptm pbm bbda cl">
	<div class="mbm">
	<!--{if !empty($comment['uid'])}-->
    	<div class="deanportalavar"><a href="home.php?mod=space&uid=$comment[authorid]" c="1"><!--{avatar($comment[uid],small)}--></a></div>
	<!--{else}-->
		{lang guest}
	<!--{/if}-->
    	<div class="deanportalinfo">
            <a href="home.php?mod=space&uid=$comment[uid]" class="deanportalname" c="1" style="color:#DD3322;">$comment[username]</a>
            <div class="clear"></div>
            <p class="deanportalinfos"><!--{if $_G[adminid] == 1 || $comment[uid] == $_G[uid] || $comment[status] != 1}-->$comment[message]<!--{else}--> {lang moderate_not_validate}<!--{/if}--></p>
            <div class="clear"></div>
            <span class="xg1 xw0">
            	<!--{date($comment[dateline])}-->
                <!--{if !isset($_G[makehtml])}--><a href="javascript:;" onclick="portal_comment_requote($comment[cid], '$article[aid]');">{lang quote}</a> <!--{/if}-->
                <!--{if ($_G['group']['allowmanagearticle'] || $_G['uid'] == $comment['uid']) && $_G['groupid'] != 7 && !$article['idtype']}-->
                <a href="portal.php?mod=portalcp&ac=comment&op=edit&cid=$comment[cid]" id="c_$comment[cid]_edit" onclick="showWindow(this.id, this.href, 'get', 0);">{lang edit}</a>
                <a href="portal.php?mod=portalcp&ac=comment&op=delete&cid=$comment[cid]" id="c_$comment[cid]_delete" onclick="showWindow(this.id, this.href, 'get', 0);">{lang delete}</a>
                <!--{/if}-->
            </span>
            <!--{if $comment[status] == 1}--><b>({lang moderate_need})</b><!--{/if}-->
        </div>
		<div class="clear"></div>
    </div>
</div>