<!--{template common/header}-->
<style id="diy_style" type="text/css"></style>

<div class="deanwp">
    <script type="text/javascript" src="$_G['style'][styleimgdir]/js/hd.js"></script>
    <!--幻灯片-->
    <div class="deanhdp wow fadeInRight"><!--[diy=deanhdp]--><div id="deanhdp" class="area"></div><!--[/diy]-->
        
        <div class="deanw1180s"><!--[diy=deansubnavxx]--><div id="deansubnavxx" class="area"></div><!--[/diy]-->
            
            <script type="text/javascript">
                jq(".deansubdiv dl dd").each(function(s){
                    jq(this).hover(
                        function(){
                            jq(".deansubpt").eq(s).show();
                        },
                        function(){
                            jq(".deansubpt").eq(s).hide();
                            })
                    })
            </script>
        </div>
        
    </div>
    <div class="clear"></div>
	
    
    <div class="deangg comfff wow fadeInUp">
    	<div class="deanggspan">最新公告</div>
        <b></b>
        <div class="deanggc"><!--[diy=deanggc]--><div id="deanggc" class="area"></div><!--[/diy]--></div>
        <div class="deanggmore"><a href="#" target="_blank">更多<em>&gt;</em></a></div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
    
    
    <div class="deantab wow fadeInUp" style="margin-top:30px;">
    	<div class="deantabtitle">
        	<span>3D资源推荐</span>
            <em>3d模型素材下载版块推荐</em>
        	<div class="deantabname"><ul><li class="button13 cur">免费模型</li><li>精品模型</li><li>原创模型</li><li>成套模型</li><li>MAYA模型</li><li>unity3D模型</li><div class="clear"></div></ul></div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <div class="deantabc">
            <ul>
                <li style="display:block;"><dl><!--[diy=deantabc]--><div id="deantabc" class="area"></div><!--[/diy]--></dl></li>
                <li><dl><!--[diy=deantabc1]--><div id="deantabc1" class="area"></div><!--[/diy]--></dl></li>
                <li><dl><!--[diy=deantabc2]--><div id="deantabc2" class="area"></div><!--[/diy]--></dl></li>
                <li><dl><!--[diy=deantabc3]--><div id="deantabc3" class="area"></div><!--[/diy]--></dl></li>
                <li><dl><!--[diy=deantabc4]--><div id="deantabc4" class="area"></div><!--[/diy]--></dl></li>
                <li><dl><!--[diy=deantabc5]--><div id="deantabc5" class="area"></div><!--[/diy]--></dl></li>
            </ul>
        </div>
        <div class="clear"></div>
        <a href="#" target="_blank" class="deanseemore button13">更多推荐</a>
    </div>
    <div class="clear"></div>
    <div class="deantab wow fadeInUp" style="margin-top:50px; visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;" >
    	<div class="deantabtitle">
        	<span>2D资源推荐</span>
            <em>2d模型素材下载版块推荐</em>
        	<div class="deantabname"><ul><li class="button13 cur">免费模型</li><li>最新模型</li><li>精品模型</li><div class="clear"></div></ul></div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <div class="deantabc">
            <ul>
                <li style="display:block;"><dl><!--[diy=deantabc21]--><div id="deantabc21" class="area"></div><!--[/diy]--></dl></li>
                <li><dl><!--[diy=deantabc22]--><div id="deantabc22" class="area"></div><!--[/diy]--></dl></li>
                <li><dl><!--[diy=deantabc23]--><div id="deantabc23" class="area"></div><!--[/diy]--></dl></li>
            </ul>
        </div>
        <div class="clear"></div>
        <a href="#" target="_blank" class="deanseemore button13">更多推荐</a>
    </div>
    <div class="clear"></div>
    <div class="deantab wow fadeInUp" style="margin-top:50px; visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
    	<div class="deantabtitle">
        	<span>原创资源区</span>
            <em>原创资源素材下载版块推荐</em>
        	<div class="deantabname"><ul><li class="button13 cur">原创模型</li><li>最新原创模型</li><li>精品原创模型</li><div class="clear"></div></ul></div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <div class="deantabc">
            <ul>
                <li style="display:block;"><dl><!--[diy=deantabc31]--><div id="deantabc31" class="area"></div><!--[/diy]--></dl></li>
                <li><dl><!--[diy=deantabc32]--><div id="deantabc32" class="area"></div><!--[/diy]--></dl></li>
                <li><dl><!--[diy=deantabc33]--><div id="deantabc33" class="area"></div><!--[/diy]--></dl></li>
            </ul>
        </div>
        <div class="clear"></div>
        <a href="#" target="_blank" class="deanseemore button13">更多推荐</a>
    </div>
    
    
    <script type="text/javascript">
		jq(".deantabname li").each(function(s){
			jq(this).hover(function(){
				jq(this).addClass("cur").siblings().removeClass("cur");
				jq(".deantabc li").eq(s).show().siblings().hide();
				})
			})
		jq(".deantabc dl dd").each(function(s){
			jq(this).hover(
				function(){jq(this).addClass("deanddhover")},function(){jq(this).removeClass("deanddhover")})
			})
	</script>
    <div class="clear"></div>
    <div class="deanboxwrap">
        <div class="deanbox">
            <div class="deanboxl">
                <div class="deanboxltitle">
                    <h3>CG新手入门</h3>
                    <div class="clear"></div>
                    <span>是不是必读看看就知道了</span>
                </div>
                <div class="clear"></div>
                <ul><!--[diy=deanboxl]--><div id="deanboxl" class="area"></div><!--[/diy]--></ul>
                <div class="clear"></div>
                <a href="#" target="_blank" class="deanmores button13">更多…</a>
            </div>
            <div class="deanboxr">
                <ul class="deanultop"><!--[diy=deanultop]--><div id="deanultop" class="area"></div><!--[/diy]--><div class="clear"></div></ul>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    
    <div class="clear"></div>
    <!--社区资讯-->
    <div class="deanforumlist" style="margin-top:15px;">
        <div class="deanforuml">
            <div class="deantitleh2">社区热帖<span></span></div>
            <div class="clear"></div>
            <ul class="deanforumul"><!--[diy=deanforumul]--><div id="deanforumul" class="area"></div><!--[/diy]--></ul>
             <div class="clear"></div>
            <a href="forum.php" target="_blank" class="deanseemore button13">查看更多</a>
            <script type="text/javascript">
                jq(".deanforumul li").hover(function(){jq(this).addClass("deanforumullihover")},function(){jq(this).removeClass("deanforumullihover")})
            </script>
        </div>
        <div class="deanforumr">
            <div class="deankey">
                <div class="deantitleh2">热门标签<span></span></div>
                <div class="clear"></div>
                <ul><!--[diy=deantags]--><div id="deantags" class="area"></div><!--[/diy]-->
                    <div class="clear"></div>
                </ul>
            </div>
            <div class="clear"></div>
            <div class="deanadr" style="margin-top:20px;">
                <ul><!--[diy=deanadr]--><div id="deanadr" class="area"></div><!--[/diy]--></ul>
            </div>
            <div class="clear"></div>
            <div class="deandesign">
                <div class="deantitleh2">活跃会员<span></span></div>
                <div class="clear"></div>
                <ul><!--[diy=deandesign]--><div id="deandesign" class="area"></div><!--[/diy]--></ul>
            </div>
            <div class="clear"></div>
            <div class="deannewtalk">
                <div class="deantitleh2">关注我们<span></span></div>
                <div class="clear"></div>

                <div class="deangzwm">
                	<div class="deangzl deanxz wow fadeInLeft"><img src="./template/dean_cg_160522/deancss/wx.png" width="110" /></div>
                    <div class="deangzr wow fadeInRight"><!--[diy=deangzwm]--><div id="deangzwm" class="area"></div><!--[/diy]-->
                    	
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
            
            
        </div>
        <div class="clear"></div>
    </div>
    
    <div class="clear"></div>
    <div class="deanlink wow fadeInUp">
        <div class="deanlinkdiv">
            <div class="deantabtitle" style="border:0;"><span>友情链接</span><em>申请链接QQ：1589787930,要求pr>=7</em></div>
            <div class="clear"></div>
            <ul><!--[diy=deanlink]--><div id="deanlink" class="area"></div><!--[/diy]-->
                <div class="clear"></div>
            </ul>
        </div>
    </div>
</div>

<div class="clear"></div>
<script src="misc.php?mod=diyhelp&action=get&type=index&diy=yes&r={echo random(4)}" type="text/javascript"></script>
<!--{template common/footer}-->
