<!--{template common/header}-->
<!--[name][迪恩网络-cgmodel-关于我们][/name]-->
<style id="diy_style" type="text/css"></style>
<style type="text/css">
.wp,#wp{ width:100%;}
	body{ background:#fff;}
	#ct{ width:1180px!important; margin:30px auto; margin-top:0;}
	.deanabout{ text-align:center;}
		.deanabout h3{ padding-top:50px; font-size:52px; padding-bottom:20px; color:#fff;}
		.deanabout span{ color:#fff; font-size:18px;}
			.deanaboutnav{ float:left;}
			.deanaboutc{ width: 893px; padding: 0 18px; float: left; margin-left:30px;}	
				.deannavliul{ padding-top:2px;  background:#f2f2f2; padding-bottom:1px; margin-bottom:20px;}
				.deannavliul li{ border-left:1px solid #f2f2f2; font-size:18px; width:248px; height:63px; cursor:pointer; line-height:63px; text-align:center;}
					.deannavliul li span{ font-family:宋体; padding-left:15px;}
				.deannavliul li.cur{ border-left:2px solid #4F71CB; color:#4F71CB; background:#fff;}
</style>
<div class="deanabout">
    <h3>关于迪恩网络公司</h3>
    <div class="clear"></div>
    <span>迪恩网络科技有限公司(Dean模板工作室)成立于08年，迄今已有五年web互联网开发实战经验，我们是一个专注于discuz模板制作和仿制以及企业网站建设优化的团队.</span>
    <div class="deanaboutbg"></div>
</div>
<div class="clear"></div>

<div class="clear"></div>
<div id="ct" class="ct2 wp cl" style="margin-top:20px;">
	<div class="deananav deanaboutnav">
        <ul class="deannavliul">
        	<li class="cur button13">公司介绍<span>&gt;</span></li>
            <li class="button13">联系我们<span>&gt;</span></li>
            <li class="button13">企业文化<span>&gt;</span></li>
            <li class="button13" style="border-bottom:0;">人才招聘<span>&gt;</span></li>
        </ul>
        <div class="deanftdiv11 deanftdiv2">
            <div class="deantitleh3">联系我们<span></span></div>
            <div class="clear"></div>
            <ul><!--[diy=deanftdiv2]--><div id="deanftdiv2" class="area"></div><!--[/diy]--></ul>
        </div>
    </div>
    <div class="deanac">
    	<ul>
        	<li style="display:block;">
            	<h5><span>公司介绍</span></h5>
                <div class="clear"></div>
                <!--[diy=diy1]--><div id="diy1" class="area"></div><!--[/diy]-->
            </li>
            <li>
            	<h5><span>联系我们</span></h5>
                <div class="clear"></div>
                <img src="./template/dean_cg_160522/deancss/lxwmpic1.jpg" width="860" />
                <div class="clear"></div>
                <div class="deancontacs">
                	<dl><!--[diy=diy2]--><div id="diy2" class="area"></div><!--[/diy]--><div class="clear"></div></dl>
                    <div class="clear"></div>
                    <div class="deanmap">
                    	<div class="deanmapl"><img src="./template/dean_cg_160522/deancss/map.jpg" /></div>
                        <div class="deanmapinfo"><!--[diy=diy3]--><div id="diy3" class="area"></div><!--[/diy]--></div>
                        <div class="clear"></div>
                    </div>
                </div>
            </li>

            <li>
            	<h5><span>企业文化</span></h5>
                <div class="clear"></div>
            	<dl class="deanddlist">
                	<dd>
                    	<div class="deandates">2015年</div>
                        <div class="deanline"></div>
                        <div class="deanlinearrow"></div>
                        <div class="deanddinfoxx">
                        	<div class="deanddinfoarrow"></div>
                            <div class="deanddinfos"><!--[diy=deanddlist]--><div id="deanddlist" class="area"></div><!--[/diy]--></div>
                        </div>
                    </dd>
                    <dd>
                    	<div class="deandates deandatesr">2014年</div>
                        <div class="deanline"></div>
                        <div class="deanlinearrow deanlinearrowl"></div>
                        <div class="deanddinfoxx deanddinfol">
                        	<div class="deanddinfoarrow deanddinfoarrowr"></div>
                            <div class="deanddinfos"><!--[diy=deanddlist1]--><div id="deanddlist1" class="area"></div><!--[/diy]--></div>
                        </div>
                    </dd>
                    <dd>
                    	<div class="deandates">2013年</div>
                        <div class="deanline"></div>
                        <div class="deanlinearrow"></div>
                        <div class="deanddinfoxx">
                        	<div class="deanddinfoarrow"></div>
                            <div class="deanddinfos"><!--[diy=deanddlist2]--><div id="deanddlist2" class="area"></div><!--[/diy]--></div>
                        </div>
                    </dd>
                    <dd>
                    	<div class="deandates deandatesr">2012年</div>
                        <div class="deanline"></div>
                        <div class="deanlinearrow deanlinearrowl"></div>
                        <div class="deanddinfoxx deanddinfol">
                        	<div class="deanddinfoarrow deanddinfoarrowr"></div>
                            <div class="deanddinfos"><!--[diy=deanddlist3]--><div id="deanddlist3" class="area"></div><!--[/diy]--></div>
                        </div>
                    </dd>
                    <dd>
                    	<div class="deandates">2011年</div>
                        <div class="deanline"></div>
                        <div class="deanlinearrow"></div>
                        <div class="deanddinfoxx">
                        	<div class="deanddinfoarrow"></div>
                            <div class="deanddinfos"><!--[diy=deanddlist4]--><div id="deanddlist4" class="area"></div><!--[/diy]--></div>
                        </div>
                    </dd>
                    <dd>
                    	<div class="deandates deandatesr">2010年</div>
                        <div class="deanline"></div>
                        <div class="deanlinearrow deanlinearrowl"></div>
                        <div class="deanddinfoxx deanddinfol">
                        	<div class="deanddinfoarrow deanddinfoarrowr"></div>
                            <div class="deanddinfos"><!--[diy=deanddlist5]--><div id="deanddlist5" class="area"></div><!--[/diy]--></div>
                        </div>
                    </dd>
                </dl>
            </li>
            <li>
            	<h5><span>企业招聘</span></h5>
                <div class="clear"></div>
            	<dl class="deanzp"><!--[diy=deanzp]--><div id="deanzp" class="area"></div><!--[/diy]--></dl>
            </li>
        </ul>
    </div>
    <script type="text/javascript">
    	jq(".deananav ul li").each(function(s){
			jq(this).click(function(){
				jq(this).addClass("cur").siblings().removeClass("cur");
				jq(".deanac ul li").eq(s).show().siblings().hide();
				})
			})
    </script>
    <div class="clear"></div>

</div>

<!--{template common/footer}-->