<!--{template common/header}-->
<div class="wp">
	<!--[diy=diy1]--><div id="diy1" class="area"></div><!--[/diy]-->
    <!--[diy=slides]--><div id="slides" class="area"></div><!--[/diy]-->
    <div class="deanjieshaobox">
    	<div class="w1180">
        	<div class="deanjsbox">
            	<ul>
                	<!--[diy=deanjsbox]--><div id="deanjsbox" class="area"></div><!--[/diy]-->
                    <div class="clear"></div>
                </ul>
            </div>
        </div>
    </div>
    <!--分类-->
    <div class="deansortbox">
    	<div class="w1180">
        	<div class="deansbghtxt">热门资源分类</div>
            <div class="deansbghmain">
            	<ul>
                	<!--[diy=deansbghmain]--><div id="deansbghmain" class="area"></div><!--[/diy]-->
                	
                    <div class="clear"></div>
                </ul>
            </div>
            <div class="deanhot_words">
            	<!--[diy=deanhot_words]--><div id="deanhot_words" class="area"></div><!--[/diy]-->
                
				<div class="clear"></div>
            </div>
        </div>
    </div>
    <!--模型下载-->
    <div class="deansucai">
    	<div class="w1180">
        	<div class="deanpubtop">
            	<span><a href="#" target="_blank" title="优质素材资源下载">优质素材资源下载</a></span>
                <ul>
                	<li class="cur">CG/UI设计</li>
                    <li>C4D模型</li>
                    <li>平面/网页设计</li>
                    <li>三维动画</li>
                    <li>3D模型</li>
                    <div class="clear"></div>
                </ul>
                <div class="clear"></div>
            </div>
        	<div class="deansucaibox">
            	<ul>
                	<li style="display:block;">
                    	<div class="deanscfl">
                        	<dl>
                                <!--[diy=deanscflr]--><div id="deanscflr" class="area"></div><!--[/diy]-->
                                <div class="clear"></div>
                            </dl>
                        </div>
                    </li>
                    <li>
                    	<div class="deanscfl">
                        	<dl>
                            	<!--[diy=deanscflx]--><div id="deanscflx" class="area"></div><!--[/diy]-->
                            	
                                <div class="clear"></div>
                            </dl>
                        </div>
                    </li>
                    <li>
                    	<div class="deanscfl">
                        	<dl>
                            	<!--[diy=deanscflx1]--><div id="deanscflx1" class="area"></div><!--[/diy]-->
                            	
                                <div class="clear"></div>
                            </dl>
                        </div>
                    </li>
                    <li>
                    	<div class="deanscfl">
                        	<dl>
                            	<!--[diy=deanscflx2]--><div id="deanscflx2" class="area"></div><!--[/diy]-->
                            	
                                <div class="clear"></div>
                            </dl>
                        </div>
                    </li>
                    <li>
                    	<div class="deanscfl">
                        	<dl>
                            	<!--[diy=deanscflx3]--><div id="deanscflx3" class="area"></div><!--[/diy]-->
                            	
                                <div class="clear"></div>
                            </dl>
                        </div>
                    </li>
                </ul>
            </div>
        	<script type="text/javascript">
				jq(".deanpubtop ul li").each(function(s){
					jq(this).click(function(){
						jq(this).addClass("cur").siblings().removeClass("cur");
						jq(".deansucaibox ul li").eq(s).show().siblings().hide();
						})
					})
			</script>
        </div>
    </div>
    <!--ads-->
    <div class="deanads">
    	<div class="w1180">
        	<!--[diy=deanads]--><div id="deanads" class="area"></div><!--[/diy]-->
        	
        </div>
    </div>
    <!--原创精品-->
    <div class="deansucai">
    	<div class="w1180">
        	<div class="deanpubtop deanpubtop_dm">
            	<span><a href="#" target="_blank" title="原创精品">原创精品资源</a></span>
                <ul>
                	<li class="cur">CG/UI设计</li>
                    <li>平面/网页设计</li>
                    <li>原画/手绘</li>
                    <li>3D模型</li>
                    <div class="clear"></div>
                </ul>
                <div class="clear"></div>
            </div>
        	<div class="deansucaibox deansucaibox_dm">
            	<ul>
                	<li style="display:block;">
                    	<div class="deanscfl">
                        	<dl>
                            	<!--[diy=deanscflx3x24]--><div id="deanscflx3x24" class="area"></div><!--[/diy]-->
                                <div class="clear"></div>
                            </dl>
                        </div>
                    </li>
                    <li>
                    	<div class="deanscfl">
                        	<dl>
                            	<!--[diy=deanscflx3x2]--><div id="deanscflx3x2" class="area"></div><!--[/diy]-->
                            	
                                <div class="clear"></div>
                            </dl>
                        </div>
                    </li>
                    <li>
                    	<div class="deanscfl">
                        	<dl>
                            	<!--[diy=deanscflx3x3]--><div id="deanscflx3x3" class="area"></div><!--[/diy]-->
                            	
                                <div class="clear"></div>
                            </dl>
                        </div>
                    </li>
                    <li>
                    	<div class="deanscfl">
                        	<dl>
                            	<!--[diy=deanscflx3x4]--><div id="deanscflx3x4" class="area"></div><!--[/diy]-->
                            	
                                <div class="clear"></div>
                            </dl>
                        </div>
                    </li>
                </ul>
            </div>
        	<script type="text/javascript">
				jq(".deanpubtop_dm ul li").each(function(s){
					jq(this).click(function(){
						jq(this).addClass("cur").siblings().removeClass("cur");
						jq(".deansucaibox_dm ul li").eq(s).show().siblings().hide();
						})
					})
			</script>
        </div>
    </div>
    <!--ads-->
    <div class="deanads">
    	<div class="w1180">
        	<!--[diy=deanads1]--><div id="deanads1" class="area"></div><!--[/diy]-->
        	
        </div>
    </div>
    <!--热门设计素材下载-->
    <div class="deansucai">
    	<div class="w1180">
        	<div class="deanpubtop deanpubtop_sc">
            	<span><a href="#" target="_blank" title="热门设计素材下载">热门设计素材下载</a></span>
                <ul>
                	<li class="cur">UI/网页设计</li>
                    <li>PSD素材</li>
                    <li>AE模板</li>
                    <li>动画动漫</li>
                    <div class="clear"></div>
                </ul>
                <div class="clear"></div>
            </div>
        	<div class="deansucaibox deansucaibox_sc">
            	<ul>
                	<li style="display:block;">
                    	<div class="deanscfl">
                        	<dl>
                            	<!--[diy=deanscflx3x41g]--><div id="deanscflx3x41g" class="area"></div><!--[/diy]-->
                                <div class="clear"></div>
                            </dl>
                        </div>
                    </li>
                    <li>
                    	<div class="deanscfl">
                        	<dl>
                            	<!--[diy=deanscflx3x412]--><div id="deanscflx3x412" class="area"></div><!--[/diy]-->
                            	
                                <div class="clear"></div>
                            </dl>
                        </div>
                    </li>
                    <li>
                    	<div class="deanscfl">
                        	<dl>
                            	<!--[diy=deanscflx3x42d]--><div id="deanscflx3x42d" class="area"></div><!--[/diy]-->
                            	
                                <div class="clear"></div>
                            </dl>
                        </div>
                    </li>
                    <li>
                    	<div class="deanscfl">
                        	<dl>
                            	<!--[diy=deanscflx3x44d]--><div id="deanscflx3x44d" class="area"></div><!--[/diy]-->
                            	
                                <div class="clear"></div>
                            </dl>
                        </div>
                    </li>
                </ul>
            </div>
        	<script type="text/javascript">
				jq(".deanpubtop_sc ul li").each(function(s){
					jq(this).click(function(){
						jq(this).addClass("cur").siblings().removeClass("cur");
						jq(".deansucaibox_sc ul li").eq(s).show().siblings().hide();
						})
					})
			</script>
        </div>
    </div>
    <!--ads-->
    <div class="deanads">
    	<div class="w1180">
        	<!--[diy=deanscflx3x44sd]--><div id="deanscflx3x44sd" class="area"></div><!--[/diy]-->
        	
        </div>
    </div>
    <!--资讯-->
    <div class="deanzhuanlan">
    	<div class="w1180">
        	<div class="deansbghtxt">教程学习/设计心得交流</div>
            <div class="deanzxpart">
            	<div class="deanzxpbx">
                	<div class="deanzxpbxtop deanzxpbxtop1">
                    	<h5>网站前端教程</h5>
                        <p>还在担心不会做网站？新手必看教程</p>
                    </div>
                    <div class="deanzxlists">
                    	<ul>
                        	<!--[diy=deanzxlists]--><div id="deanzxlists" class="area"></div><!--[/diy]-->
                        	
                        </ul>
                        <div class="deanzxmorea"><a href="#" target="_blank">进入专栏获取更多<em>〉</em></a><div class="clear"></div></div>
                    </div>
                </div>
                <div class="deanzxpbx">
                	<div class="deanzxpbxtop deanzxpbxtop2">
                    	<h5>论坛交流心得</h5>
                        <p>遇到问题无法解决？解决新手疑难杂症</p>
                    </div>
                    <div class="deanzxlists">
                    	<ul>
                        	<!--[diy=deanzxlistsx]--><div id="deanzxlistsx" class="area"></div><!--[/diy]-->
                        </ul>
                        <div class="deanzxmorea"><a href="#" target="_blank">进入专栏获取更多<em>〉</em></a><div class="clear"></div></div>
                    </div>
                </div>
                <div class="deanzxpbx">
                	<div class="deanzxpbxtop deanzxpbxtop4">
                    	<h5>论坛交流心得</h5>
                        <p>遇到问题无法解决？解决新手疑难杂症</p>
                    </div>
                    <div class="deanzxlists">
                    	<ul>
                        	<!--[diy=deanzxlists2]--><div id="deanzxlists2" class="area"></div><!--[/diy]-->
                        </ul>
                        <div class="deanzxmorea"><a href="#" target="_blank">进入专栏获取更多<em>〉</em></a><div class="clear"></div></div>
                    </div>
                </div>
                <div class="deanzxpbx" style="margin-right:0;">
                	<div class="deanzxpbxtop deanzxpbxtop3">
                    	<h5>设计师经验分享</h5>
                        <p>各行业顶级大牛，分享设计路途中经验</p>
                    </div>
                    <div class="deanzxlists">
                    	<ul>
                        	<!--[diy=deanzxlists3]--><div id="deanzxlists3" class="area"></div><!--[/diy]-->
                        </ul>
                        <div class="deanzxmorea"><a href="#" target="_blank">进入专栏获取更多<em>〉</em></a><div class="clear"></div></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <!--学习课程-->
    <div class="deansucai">
    	<div class="w1180">
        	<div class="deanpubtop deanpubtop_sc">
            	<span><a href="#" target="_blank" title="学习课程">学习课程</a></span>
                <ul>
                	<li class="cur">3DMax课程</li>
                    <li>PS/AI课程</li>
                    <li>AE课程</li>
                    <li>前端设计</li>
                    <div class="clear"></div>
                </ul>
                <div class="clear"></div>
            </div>
        	<div class="deansucaibox deansucaibox_sc">
            	<ul>
                	<li style="display:block;">
                    	<div class="deanscbox">
                        	<dl>
                            	<!--[diy=deanzxlists34r]--><div id="deanzxlists34r" class="area"></div><!--[/diy]-->
                                <div class="clear"></div>
                            </dl>
                        </div>
                    </li>
                    <li>
                    	<div class="deanscfl">
                        	<dl>
                            	<!--[diy=deanscflx3x41]--><div id="deanscflx3x41" class="area"></div><!--[/diy]-->
                            	
                                <div class="clear"></div>
                            </dl>
                        </div>
                    </li>
                    <li>
                    	<div class="deanscfl">
                        	<dl>
                            	<!--[diy=deanscflx3x42]--><div id="deanscflx3x42" class="area"></div><!--[/diy]-->
                            	
                                <div class="clear"></div>
                            </dl>
                        </div>
                    </li>
                    <li>
                    	<div class="deanscfl">
                        	<dl>
                            	<!--[diy=deanscflx3x44]--><div id="deanscflx3x44" class="area"></div><!--[/diy]-->
                            	
                                <div class="clear"></div>
                            </dl>
                        </div>
                    </li>
                </ul>
            </div>
        	<script type="text/javascript">
			jq(".deanpubtop_sc ul li").each(function(s){
			jq(this).click(function(){
			jq(this).addClass("cur").siblings().removeClass("cur");
			jq(".deansucaibox_sc ul li").eq(s).show().siblings().hide();
			})
			})
			</script>
        </div>
    </div>
    <!--ads-->
    <div class="deanads">
    	<div class="w1180">
        	<!--[diy=deanscflx3x434]--><div id="deanscflx3x434" class="area"></div><!--[/diy]-->
        </div>
    </div>
    <!--资讯-->
    <div class="deansucai">
    	<div class="w1180">
            <div class="deanbankl">
            	<div class="deanpubtop">
                    <span><a href="#" target="_blank" title="推荐文章阅读">推荐文章阅读</a></span>
                    <a href="#" class="deantxtmore">更多文章</a>
                    <div class="clear"></div>
                </div>
                <div class="deanwenzbx">
                	<ul>
                    	<!--[diy=deanwenzbx]--><div id="deanwenzbx" class="area"></div><!--[/diy]-->
                    	
                        <div class="clear"></div>
                    </ul>
                </div>
            </div>
            <div class="deanbankr">
            	<!--关注-->
                <div class="deanguanzhu">
                	<!--[diy=deanguanzhu]--><div id="deanguanzhu" class="area"></div><!--[/diy]-->
                    
                </div>
                <!--会员-->
                <div class="deanmembers">
                    <div class="deanpubtop">
                        <span><a href="#" target="_blank" title="贡献会员榜">贡献会员榜</a></span>
                        <em></em>
                        <div class="clear"></div>
                    </div>
                    <div class="deanmemsbx">
                    	<ul>
                        	<!--[diy=deanmemsbx]--><div id="deanmemsbx" class="area"></div><!--[/diy]-->
                        	
                            <div class="clear"></div>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <!--ads-->
    <div class="deanads">
    	<div class="w1180">
        	<!--[diy=deanmemsbx3]--><div id="deanmemsbx3" class="area"></div><!--[/diy]-->
        	
        	
        </div>
    </div>
    <!--友情链接-->
    <div class="deansucai">
    	<div class="w1180">
        	<div class="deanpubtop">
            	<span><a href="#" target="_blank" title="友情链接">友情链接</a></span>
                <a href="#" class="deantxtmore">点击交换链接</a>
                <div class="clear"></div>
            </div>
        	<div class="deanconnet_link">
                <ul>
                	<!--[diy=deanconnet_link]--><div id="deanconnet_link" class="area"></div><!--[/diy]-->
                    <div class="clear"></div>
                </ul>
            </div>
        </div>
    </div>
</div>

<script src="misc.php?mod=diyhelp&action=get&type=index&diy=yes&r={echo random(4)}" type="text/javascript"></script>
<!--{template common/footer}-->

