<!--{template common/header}-->
<!--[name][迪恩素材资源教程下载2-关于我们频道页][/name]-->

<link rel="stylesheet" type="text/css" href="./template/zvis_source_170511/deancss/about/main.css">

<div class="deanbgs">
	<div class="deanab_top">
        <ul>
            <li class="cur">公司介绍<em></em></li>
            <li>大事记<em></em></li>
            <li>公司招聘<em></em></li>
            <li>媒体报道<em></em></li>
            <li class="deanlastlistli">联系我们<em></em></li>
            <div class="clear"></div>
        </ul>
    </div>
</div>
<div id="ct" class="ct2 wp cl">
<!--[diy=diy1]--><div id="diy1" class="area"></div><!--[/diy]-->
    <div class="deanab_main">
        <div class="deanab_bottom">
            <ul>
                <li style="display:block;">
                    <div class="deantopbards">
                        <h5>迪恩网络科技模板关于我们</h5>
                        <p>10年专业经验，服务千家万户。</p>
                    </div>
                    <div class="deanaboutusbx">
                    	<!--[diy=deanaboutusbx]--><div id="deanaboutusbx" class="area"></div><!--[/diy]-->
                    	
                        <div class="clear"></div>
                    </div>
                    <div class="deanbgbg">
                    	<div class="w1180">
                        	<h5>教学生活照片</h5>
                        	<p>宽敞的教室，负责人的讲师，丰富多彩的教学活动</p>
                            <div class="deancomindrt">
                            	<!--[diy=deancomindrt]--><div id="deancomindrt" class="area"></div><!--[/diy]-->
                            	
                            </div>
                        </div>
                    </div>
                    <div class="deanbgbg">
                    	<div class="w1180">
                        	<h5>常见问题汇总</h5>
                        	<p>明明白白学习，清清楚楚消费</p>
                            <div class="deanquboxsd">
                            	<!--[diy=deanquboxsd]--><div id="deanquboxsd" class="area"></div><!--[/diy]-->
                            	
                            </div>
                        </div>
                    	
                    </div>
                </li>
                <li>
                    <div class="deantopbards deantopbards1">
                        <h5>10年磨一剑，从默默无闻到牛逼闪闪</h5>
                        <p>一直被模仿从未被超越，做行业的领导者</p>
                    </div>
                    <div class="deandevelops">
                    	<dl>
                        	<!--[diy=deandevelops]--><div id="deandevelops" class="area"></div><!--[/diy]-->
                        	
                        </dl>
                    </div>
                </li>
                <!--招聘-->
                <li>
                	<div class="deantopbards deantopbards2">
                        <h5>大神快到碗里来！</h5>
                        <p>还在等什么？快加入我们共商发展大计</p>
                    </div>
                    <div class="deanmain_box">
                        <div class="deanthbg">
                            <span style="width:434px;">职位</span>
                            <span style="width:180px;">工作职能</span>
                            <span style="width:180px;">工作地点</span>
                            <span style="width:180px;">招聘人数</span>
                            <span style="width:180px; border-right:0;">详情</span>
                            <div class="clear"></div>
                        </div>
                        <div class="deanthbgs">
                            <span style="width:404px; padding-left: 30px; text-align:left; text-indent:30px;">大数据工程师</span>
                            <span style="width:180px">技术类</span>
                            <span style="width:180px">北京</span>
                            <span style="width:180px">6人</span>
                            <span class="deanmores" style="width:180px">详情</span>
                            <div class="clear"></div>
                            <div class="deanthinfos">
                            <h2>岗位职责：</h2>
                            <div class="detail-content">
                                1.负责公司大数据基础服务系统研发设计工作 ；<br>
                                2.参与应用选型研究、系统架构设计、软件开发工作；<br>
                                3.负责数据基础结构的规划和设计；<br>
                                4.用户行为、日志等数据的处理、分析、挖掘和存储。<br>
                            </div>
                            <h2>任职资格：</h2>
                            <div class="detail-content">
                                1. 本科及以上学历，计算机相关专业，2年以上开发经验，211和985类院校优先，良好的理工科背景、扎实的数理功底优先；<br>
                                2. 精通Java开发，熟悉IO机制、网络通讯、多线程等基础知识框架，熟悉缓存、消息队列、索引查询等机制；<br>
                                3. 熟练掌握Hadoop的MapReduce应用的开发以及部署，熟悉分布式计算系统理念，熟悉Hive、Pig等大数据开发工具，熟悉mahout 、mlab；<br>
                                4. 熟练掌握 linux、python ，熟悉spark框架、storm流式计算；<br>
                                5. 对数据库有一定了解，熟悉ETL流程；<br>
                                6. 熟悉推荐系统，掌握各种数据挖掘算法者优先；<br>
                                7. 有爬虫、网页正文提取、分词和特征提取等相关经验优先；<br>
                                8. 熟悉junit、sonar等代码质量保障工具；<br>
                                9. 具有良好的团队协作精神，对互联网主流的研发流程、质量控制方式、项目管理方式有充分的了解有责任感、可承受多任务并行的工作压力，重视沟通，具备自主的学习能力和追求卓越的态度。<br>
                            </div>
                            <h2>福利待遇：</h2>
                            <div class="detail-content">
                               1. 试用期全薪，六险一金，工作配Mac；<br>
                               2. 午晚餐系统自选，公司买单，30元豪华午餐，20元精美晚餐，全天免费供应无限量饮料零食水果；<br>
                               3. 话补、节日福利、生日礼物、老板红包 ，四季工服，年度旅游，团队建设；<br>
                               4. 年假10天以上，法定假日。<br>
                            </div>
                            <h6>简历请投递到：dkfhjdf@222.com</h6>
                        </div>
                        </div>
                        <div class="deanthbgs">
                            <span style="width:404px; padding-left: 30px; text-align:left; text-indent:30px;">App渠道推广</span>
                            <span style="width:180px">运营类</span>
                            <span style="width:180px">北京</span>
                            <span style="width:180px">2人</span>
                            <span class="deanmores" style="width:180px">详情</span>
                            <div class="clear"></div>
                            <div class="deanthinfos">
                            <h2>岗位职责：</h2>
                            <div class="detail-content">
                                1.负责移动端各类应用市场推广运营工作，对提升新用户及控制新用户成本负责；<br>
                                2.熟悉ios和Android各推广渠道，对APP的推广和运营有自己的见解；<br>
                                3.推广渠道数据监控和反馈跟踪，对推广数据进行分析，有针对性的调整推广策略；<br>
                                4.熟悉行业动态，协同相关部门策划渠道运营推广活动；<br>
                                5.了解各渠道的用户属性及喜好，对产品提出建议或意见。<br>
                            </div>
                            <h2>任职资格：</h2>
                            <div class="detail-content">
                                1. 三年以上移动互联网工作经验，能理解移动市场的变化；<br>
                                2. 从事iOS、Android渠道推广2年以上相关工作经验，有完整的app产品推广经验；<br>
                                3. 熟悉各应用市场渠道推广资源，具备商务谈判经验，有资源和市场拓展能力；<br>
                                4. 工作高效、认真、负责、细致，并充满热情；<br>
                                5. 沟通能力出色，能适应短期出差；<br>
                                6. 有电商或互联网金融行业经验优先。<br>
                            </div>
                            <h2>福利待遇：</h2>
                            <div class="detail-content">
                               1. 试用期全薪，六险一金，工作配Mac；<br>
                               2. 午晚餐系统自选，公司买单，30元豪华午餐，20元精美晚餐，全天免费供应无限量饮料零食水果；<br>
                               3. 话补、节日福利、生日礼物、老板红包 ，四季工服，年度旅游，团队建设；<br>
                               4. 年假10天以上，法定假日。<br>
                            </div>
                            <h6>简历请投递到：dkfhjdf@222.com</h6>
                        </div>
                        </div>
                        <div class="deanthbgs">
                            <span style="width:404px; padding-left: 30px; text-align:left; text-indent:30px;">金融产品经理</span>
                            <span style="width:180px">金融类</span>
                            <span style="width:180px">北京</span>
                            <span style="width:180px">21人</span>
                            <span class="deanmores" style="width:180px">详情</span>
                            <div class="clear"></div>
                            <div class="deanthinfos">
                            <h2>岗位职责：</h2>
                            <div class="detail-content">
                                1.负责消费金融业务前期市场调研和消费金融产品设计；<br>
                                2.搜集和提出产品需求，制定产品规范，做出产品的全面设计，如功能，特性，使用流程，性能要求等；<br>
                                3.负责协调研发、数据等各部门和外部机构共同推进新产品开发项目具体实施；<br>
                                4.根据消费金融自主产品市场投放效果持续改进、升级产品；<br>
                                5.负责协助营销团队推动新产品落地达产；关注和持续提升消费金融产品用户体验；<br>
                                6.与风险部门配合，共同采取措施控制消费金融业务的风险，对消费金融业务的风险指标负责。<br>
                            </div>
                            <h2>任职资格：</h2>
                            <div class="detail-content">
                                1. 大学本科以上学历，金融、财经等相关专业，了解银行信用卡及消费金融产品；<br>
                                2. 熟悉互联网消费金融或白条产品、现金贷产品，实时掌握市场讯息；<br>
                                3. 具备互联网消费分期或信用卡产品设计、风控和运营方面3年以上工作经验；具有银行等机构小贷业务产品开发经验者或阿里金融等互联网金融机构产品开发经验者优先；<br>
                                4. 具备良好的专业背景、逻辑能力好，有较强的创新思维、执行力和沟通能力。<br>
                            </div>
                            <h2>福利待遇：</h2>
                            <div class="detail-content">
                               1. 试用期全薪，六险一金，工作配Mac；<br>
                               2. 午晚餐系统自选，公司买单，30元豪华午餐，20元精美晚餐，全天免费供应无限量饮料零食水果；<br>
                               3. 话补、节日福利、生日礼物、老板红包 ，四季工服，年度旅游，团队建设；<br>
                               4. 年假10天以上，法定假日。<br>
                            </div>
                            <h6>简历请投递到：dkfhjdf@222.com</h6>
                        </div>
                        </div>
                        <div class="deanthbgs">
                            <span style="width:404px; padding-left: 30px; text-align:left; text-indent:30px;">运营主管</span>
                            <span style="width:180px">运营类</span>
                            <span style="width:180px">北京</span>
                            <span style="width:180px">1人</span>
                            <span class="deanmores" style="width:180px">详情</span>
                            <div class="clear"></div>
                            <div class="deanthinfos">
                            <h2>岗位职责：</h2>
                            <div class="detail-content">
                                1.所负责产品的相关数据管理、合作方的沟通、相关流程的对接；<br>
                                2.与所负责合作机构业务对接以及相关数据的核对；<br>
                                3.投资产品相关数据参数的系统录入，并确保数据的准确性；<br>
                                4.公司内部跨部门之间的沟通协作；<br>
                                5.临时交付的其他工作。<br>
                            </div>
                            <h2>任职资格：</h2>
                            <div class="detail-content">
                                1. 本科学历，运营、统计等相关专业者优先，3年以上相关工作经验；<br>
                                2. 良好的数据及文档录入与检查能力，熟练运用各类办公软件，熟练使用Excel；<br>
                                3. 具有良好的表达能力和沟通能力，做事有条理，工作认真细致；<br>
                                4.  对数据敏感，具有良好的数据整理、分析能力；<br>
                                5. 能够承受较大工作压力，有强烈的团队合作意识，责任心强；<br>
                                6. 具有互联网行业编辑、运营或数据相关经验者优先。<br>
                            </div>
                            <h2>福利待遇：</h2>
                            <div class="detail-content">
                               1. 试用期全薪，六险一金，工作配Mac；<br>
                               2. 午晚餐系统自选，公司买单，30元豪华午餐，20元精美晚餐，全天免费供应无限量饮料零食水果；<br>
                               3. 话补、节日福利、生日礼物、老板红包 ，四季工服，年度旅游，团队建设；<br>
                               4. 年假10天以上，法定假日。<br>
                            </div>
                            <h6>简历请投递到：dkfhjdf@222.com</h6>
                        </div>
                        </div>
                        <div class="deanthbgs">
                            <span style="width:404px; padding-left: 30px; text-align:left; text-indent:30px;">金融产品经理</span>
                            <span style="width:180px">金融类</span>
                            <span style="width:180px">北京</span>
                            <span style="width:180px">21人</span>
                            <span class="deanmores" style="width:180px">详情</span>
                            <div class="clear"></div>
                            <div class="deanthinfos">
                            <h2>岗位职责：</h2>
                            <div class="detail-content">
                                1.负责消费金融业务前期市场调研和消费金融产品设计；<br>
                                2.搜集和提出产品需求，制定产品规范，做出产品的全面设计，如功能，特性，使用流程，性能要求等；<br>
                                3.负责协调研发、数据等各部门和外部机构共同推进新产品开发项目具体实施；<br>
                                4.根据消费金融自主产品市场投放效果持续改进、升级产品；<br>
                                5.负责协助营销团队推动新产品落地达产；关注和持续提升消费金融产品用户体验；<br>
                                6.与风险部门配合，共同采取措施控制消费金融业务的风险，对消费金融业务的风险指标负责。<br>
                            </div>
                            <h2>任职资格：</h2>
                            <div class="detail-content">
                                1. 大学本科以上学历，金融、财经等相关专业，了解银行信用卡及消费金融产品；<br>
                                2. 熟悉互联网消费金融或白条产品、现金贷产品，实时掌握市场讯息；<br>
                                3. 具备互联网消费分期或信用卡产品设计、风控和运营方面3年以上工作经验；具有银行等机构小贷业务产品开发经验者或阿里金融等互联网金融机构产品开发经验者优先；<br>
                                4. 具备良好的专业背景、逻辑能力好，有较强的创新思维、执行力和沟通能力。<br>
                            </div>
                            <h2>福利待遇：</h2>
                            <div class="detail-content">
                               1. 试用期全薪，六险一金，工作配Mac；<br>
                               2. 午晚餐系统自选，公司买单，30元豪华午餐，20元精美晚餐，全天免费供应无限量饮料零食水果；<br>
                               3. 话补、节日福利、生日礼物、老板红包 ，四季工服，年度旅游，团队建设；<br>
                               4. 年假10天以上，法定假日。<br>
                            </div>
                            <h6>简历请投递到：dkfhjdf@222.com</h6>
                        </div>
                        </div>
                        <div class="deanthbgs">
                            <span style="width:404px; padding-left: 30px; text-align:left; text-indent:30px;">数据分析</span>
                            <span style="width:180px">运营类</span>
                            <span style="width:180px">北京</span>
                            <span style="width:180px">1人</span>
                            <span class="deanmores" style="width:180px">详情</span>
                            <div class="clear"></div>
                            <div class="deanthinfos">
                            <h2>岗位职责：</h2>
                            <div class="detail-content">
                            1. 各类常规运营分析报表制作（日报、周报、月报、季报、年报等）；<br>
                            2. 负责业务数据收集整理，对多种数据源的数据进行组合分析、挖掘；<br>
                            3. 汇总整理各种数据并形成分析报表，为决策提供数据支持；<br>
                            4. 运用各种辅助工具进行数据分析；<br>
                            5. 各种临时性数据的整理和分析。<br>
                                            </div>
                            <h2>任职资格：</h2>
                            <div class="detail-content">
                                1. 熟练使用EXCEL函数数据透视等功能，善于用合理的方式进行数据可视化；<br>
                                2. 至少掌握一种数据分析工具（SPSS/SAS/Clementine/MiniTable），熟悉各种数据挖掘的常用算法；<br>
                                3. 较强的数据敏感性，擅于通过数据分析发现业务规律；<br>
                                4. 本科（含）以上学历，统计学、数学、计算机等相关专业优先；<br>
                                5. 1年以上数据分析、挖掘相关工作经验优先。<br>
                            </div>
                            <h2>福利待遇：</h2>
                            <div class="detail-content">
                               1. 试用期全薪，六险一金，工作配Mac；<br>
                               2. 午晚餐系统自选，公司买单，30元豪华午餐，20元精美晚餐，全天免费供应无限量饮料零食水果；<br>
                               3. 话补、节日福利、生日礼物、老板红包 ，四季工服，年度旅游，团队建设；<br>
                               4. 年假10天以上，法定假日。<br>
                            </div>
                            <h6>简历请投递到：dkfhjdf@222.com</h6>
                        </div>
                        </div>
                    </div>
                </li>
                <!--媒体报道-->
                <li>
                	<div class="deantopbards deantopbards3">
                        <h5>新鲜事先早知，我们带你看设计</h5>
                        <p>"互联网+教育"是互联网技术手段在教育上的应用，以使教育教学成果更有效、优质资源配置更均衡。</p>
                    </div>
                    <div class="deanmain_box">
                        <div class="deanbaodao">
                            <dl>
                            	<!--[diy=deanbaodao]--><div id="deanbaodao" class="area"></div><!--[/diy]-->
                                
                                <div class="clear"></div>
                            </dl>
                        </div>
                    </div>
                </li>
                <!--联系我们-->
                <li>
                	<div class="deantopbards deantopbards4">
                        <h5>模板UI设计前端的领导者</h5>
                        <p>如有任何需求，请直接联系我们吧！</p>
                    </div>
                    <div class="deanmain_box">
                        <div class="deanabcontact">
                        	<div class="deanabctopsty">
                            	<dl>
                                	<!--[diy=deanabctopsty]--><div id="deanabctopsty" class="area"></div><!--[/diy]-->
                                	
                                    <div class="clear"></div>
                                </dl>
                            </div>
                            <div class="deanline-spe">
                                <div class="deansfline"></div>
                                <div class="deanjhpoint"></div>
                                <div class="deansfline"></div>
                                <div class="clear"></div>
                            </div>
                            <div class="deanzsdr">
                            	<dl>
                                	<!--[diy=deanzsdr]--><div id="deanzsdr" class="area"></div><!--[/diy]-->
                                	
                                    <div class="clear"></div>
                                </dl>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <script type="text/javascript">

    jQuery(document).ready(function () {
        
        jQuery('.deanthbgs').click(function () {
    
            var text = jQuery(this).children('.deanthinfos');
    
            if (text.is(':hidden')) {
                text.slideDown('200');		
            } else {
                text.slideUp('200');		
            }
            
        });
    
    });
    
    </script>
    
    <div class="clear"></div>
    <script type="text/javascript">
        jQuery(function(){
            jQuery(".deanab_top li").each(function(a){
                jQuery(this).click(function(){
                    jQuery(this).addClass("cur").siblings().removeClass("cur");
                    jQuery(".deanab_bottom li").eq(a).show().siblings().hide();
                    })
                })
            })
    </script>
</div>

<!--{template common/footer}-->

                                      
                                        