<!--{template common/header}-->
<!--{eval $list = array();}-->
<!--{eval $wheresql = category_get_wheresql($cat);}-->
<!--{eval $list = category_get_list($cat, $wheresql, $page);}-->

<div id="pt" class="bm cl">
	<div class="z">
		<a href="./" class="nvhm" title="{lang homepage}">$_G[setting][bbname]</a> <em>&rsaquo;</em>
		<a href="$_G[setting][navs][1][filename]">{lang portal}</a> <em>&rsaquo;</em>
		<!--{loop $cat[ups] $value}--> <a href="{$portalcategory[$value['catid']]['caturl']}">$value[catname]</a><em>&rsaquo;</em><!--{/loop}-->
		$cat[catname]
	</div>
</div>
<!--{ad/text/wp a_t}-->
<style id="diy_style" type="text/css"></style>

<div class="wp">
	<!--[diy=diy1]--><div id="diy1" class="area"></div><!--[/diy]-->
</div>

<div id="ct" class="ct2 wp cl" style="width:1180px!important; margin:0px auto!important;">
	<div class="mn">
    	<div class="deanwzadsd">
        	<!--[diy=deanwzadsd]--><div id="deanwzadsd" class="area"><div id="frameaB8isf" class="frame move-span cl frame-1"><div id="frameaB8isf_left" class="column frame-1-c"><div id="frameaB8isf_left_temp" class="move-span temp"></div><!--{block/292}--></div></div></div><!--[/diy]-->
        	
        </div>
		<div class="deanmn_left">
        	<div class="deanwzpdtitle">
                <h4>$cat[catname]</h4>
                <div class="deantools">
                    <!--{if ($_G['group']['allowpostarticle'] || $_G['group']['allowmanagearticle'] || $categoryperm[$catid]['allowmanage'] || $categoryperm[$catid]['allowpublish']) && empty($cat['disallowpublish'])}-->
                    <a href="portal.php?mod=portalcp&ac=article&catid=$cat[catid]" class="deanaddnew" title="发布文章">发布文章</a>
                    <!--{/if}-->
                
                    <!--{if $_G[setting][rssstatus] && !$_GET['archiveid']}--><a href="portal.php?mod=rss&catid=$cat[catid]" class="deanrssartice" target="_blank" title="RSS">RSS</a><!--{/if}-->
                </div>
                <div class="clear"></div>
            </div>
            <!--下家分类-->	
            <!--{if $cat[subs]}-->
            <div class="deannextnav">
                <h4>{lang sub_category}:</h4>
                <ul>
                <!--{eval $i = 1;}-->
                <!--{loop $cat[subs] $value}-->
                <!--{if $i != 1}--><!--{/if}--><li><a href="{$portalcategory[$value['catid']]['caturl']}" >$value[catname]</a></li><!--{eval $i--;}-->
                <!--{/loop}-->
                <div class="clear"></div>
                </ul>
                <div class="clear"></div>
            </div>
            <!--{/if}-->
            
            <div class="clear"></div>
                
            <!--[diy=listloopbottom]--><div id="listloopbottom" class="area"></div><!--[/diy]-->
            <div class="clear"></div>
            <div class="deanartice">
                <ul>
                    <!--{loop $list['list'] $value}-->
                    <!--{eval $highlight = article_title_style($value);}-->
                    <!--{eval $article_url = fetch_article_url($value);}-->
                    <li>
                        <!--{if $value[pic]}-->
                        <div class="deanarticel">
                            <a href="$article_url" target="_blank"><img src="$value[pic]" alt="$value[title]" width="250" height="150"/></a><em></em>
                        </div>
                        <div class="deanarticer">
                            <div class="deanarticername"> 
                                <!--{if $value[catname] && $cat[subs]}--><a href="{$portalcategory[$value['catid']]['caturl']}" class="deantaglebs" target="_blank">$value[catname]</a>
                                <!--{/if}-->
                            </div>
                            <h5> <a href="$article_url" target="_blank" class="deanarttitles xi2" $highlight>$value[title]</a> <!--{if $value[status] == 1}-->({lang moderate_need})<!--{/if}--></h5>
                            <div class="deanarticersummary">$value[summary]&hellip;&hellip;</div>
                            <div class="deanatcertop">
                                <div class="deanatctl">
                                    <img src="uc_server/avatar.php?uid=$value[uid]&size=large">
                                </div>
                                <div class="deanarticerinfo">
                                        <span class="deanzhuozhenm">
                                            作者：$value[username]
                                        </span>
                                        <em>|</em>
                                        <span class="deanfabushijian">时间：$value[dateline]</span>
                                        <em>|</em>
                                        <span class="deanyuedushu">阅读：{eval $query = DB::query("SELECT t1.viewnum from ".DB::table('portal_article_count')." t1 inner join ".DB::table('portal_article_title')." t2 on t1.aid=t2.aid WHERE t2.aid=$value[aid]"); $dean = DB::fetch($query);echo $dean['viewnum'];}</span>
                                        <em>|</em>
                                        <span class="deanhuifushu">回复：{eval $query = DB::query("SELECT t1.commentnum from ".DB::table('portal_article_count')." t1 inner join ".DB::table('portal_article_title')." t2 on t1.aid=t2.aid WHERE t2.aid=$value[aid]"); $dean = DB::fetch($query);echo $dean['commentnum'];}</span>
                                        <div class="clear"></div>
                                    </div>
                                <div class="clear"></div>   
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                        
                        <!--{else}-->
                    	<div class="deanarticer_tl">
                            <div class="deanattltop">
                            	<!--{if $value[catname] && $cat[subs]}--><a href="{$portalcategory[$value['catid']]['caturl']}" class="deantaglebs" target="_blank">$value[catname]</a>
                                <!--{/if}-->
                                <a href="$article_url" target="_blank" class="deanarttitles xi2" $highlight>$value[title]</a> <!--{if $value[status] == 1}-->({lang moderate_need})<!--{/if}-->
                                <div class="clear"></div>
                            </div>
                            <div class="deanarticersummary">$value[summary]&hellip;&hellip;</div>
                            <div class="deanatcertop">
                                <div class="deanatctl">
                                    <img src="uc_server/avatar.php?uid=$value[uid]&size=large">
                                </div>
                                <div class="deanarticerinfo">
                                        <span class="deanzhuozhenm">
                                            作者：$value[username]
                                        </span>
                                        <em>|</em>
                                        <span class="deanfabushijian">时间：$value[dateline]</span>
                                        <em>|</em>
                                        <span class="deanyuedushu">阅读：{eval $query = DB::query("SELECT t1.viewnum from ".DB::table('portal_article_count')." t1 inner join ".DB::table('portal_article_title')." t2 on t1.aid=t2.aid WHERE t2.aid=$value[aid]"); $dean = DB::fetch($query);echo $dean['viewnum'];}</span>
                                        <em>|</em>
                                        <span class="deanhuifushu">回复：{eval $query = DB::query("SELECT t1.commentnum from ".DB::table('portal_article_count')." t1 inner join ".DB::table('portal_article_title')." t2 on t1.aid=t2.aid WHERE t2.aid=$value[aid]"); $dean = DB::fetch($query);echo $dean['commentnum'];}</span>
                                        <div class="clear"></div>
                                    </div>
                                <div class="clear"></div>   
                            </div>
                            <div class="clear"></div>
                        </div>
                    	<!--{/if}-->
                    </li>
                    	
                    <!--{/loop}-->
                </ul>
            </div>
            <div class="clear"></div>
            <!--{ad/articlelist/mbm hm/3}--><!--{ad/articlelist/mbm hm/4}-->
            <!--{if $list['multi']}--><div class="pgs cl" id="deanpage">{$list['multi']}</div><!--{/if}-->
    
            <!--[diy=diycontentbottom]--><div id="diycontentbottom" class="area"></div><!--[/diy]-->
        </div>
	</div>
	<div class="sd pph">
		<!--关注我们-->
        <div class="deanguanzhu">
        	<!--[diy=deanguanzhu]--><div id="deanguanzhu" class="area"><div id="framecXmeym" class="frame move-span cl frame-1"><div id="framecXmeym_left" class="column frame-1-c"><div id="framecXmeym_left_temp" class="move-span temp"></div><!--{block/289}--></div></div></div><!--[/diy]-->
        </div>
        <!-- 滚动资讯 -->
		<div class="deansidebox">
        	<div class="deanpubtitle">
                <h4>滚动资讯</h4>
                <div class="deanpbright">
                    <a href="#" target="_blank">更多</a>
                </div>
                <div class="clear"></div>
            </div>
            <div class="focusBox">
            	<!--[diy=focusBox]--><div id="focusBox" class="area"><div id="frameILdE4z" class="frame move-span cl frame-1"><div id="frameILdE4z_left" class="column frame-1-c"><div id="frameILdE4z_left_temp" class="move-span temp"></div><!--{block/284}--></div></div></div><!--[/diy]-->
                <a class="prev" href="javascript:void(0)"><</a>
                <a class="next" href="javascript:void(0)">></a>
                <ul class="hd">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <script type="text/javascript">
                jQuery(".focusBox").slide({ mainCell:".pic",effect:"left", autoPlay:true, delayTime:300});
            </script>
        </div>
		
        <!-- 精选资讯 -->
		<div class="deansidebox">
        	<div class="deangltt">
                <!--[diy=deangltt2]--><div id="deangltt2" class="area"><div id="frameBo2OO3" class="frame move-span cl frame-1"><div id="frameBo2OO3_left" class="column frame-1-c"><div id="frameBo2OO3_left_temp" class="move-span temp"></div><!--{block/285}--></div></div></div><!--[/diy]-->
                <div class="clear"></div>
            </div>
            <div class="deangllists">
                <ul>
                    <!--[diy=deangllists]--><div id="deangllists" class="area"><div id="frameRxnJNc" class="frame move-span cl frame-1"><div id="frameRxnJNc_left" class="column frame-1-c"><div id="frameRxnJNc_left_temp" class="move-span temp"></div><!--{block/286}--></div></div></div><!--[/diy]-->
                </ul>
            </div>
        </div>
        
        <!-- 推荐咨讯 -->
		<div class="deansidebox">
        	<div class="deanpubtitle">
                <h4>推荐咨讯</h4>
                <div class="deanpbright">
                    <a href="#" target="_blank">更多</a>
                </div>
                <div class="clear"></div>
            </div>
            <div class="deanonvideos">
                <ul>
                    <!--[diy=deangamestt1ss]--><div id="deangamestt1ss" class="area"><div id="frameD1a29F" class="frame move-span cl frame-1"><div id="frameD1a29F_left" class="column frame-1-c"><div id="frameD1a29F_left_temp" class="move-span temp"></div><!--{block/287}--></div></div></div><!--[/diy]-->
                    <div class="clear"></div>
                </ul>
            </div>
            
        </div>
		<!-- 排行榜 -->
		<div class="deansidebox">
        	<div class="deanpubtitle">
                <h4>阅读排行榜</h4>
                <div class="deanpbright">
                    <a href="#" target="_blank">更多</a>
                </div>
                <div class="clear"></div>
            </div>
            <div class="deanranklistbox">
                <ul>
                    <!--[diy=deanranklistbox]--><div id="deanranklistbox" class="area"><div id="frameaPY8rb" class="frame move-span cl frame-1"><div id="frameaPY8rb_left" class="column frame-1-c"><div id="frameaPY8rb_left_temp" class="move-span temp"></div><!--{block/290}--></div></div></div><!--[/diy]-->
                </ul>
            </div>
            <script type="text/javascript">
			jq(".deanranklistbox ul li").each(function(s){
			jq(this).hover(function(){
			jq(this).addClass("on").siblings().removeClass("on");
			})
			})
			</script>
        </div>
        <!-- 专访 -->
		<div class="deansidebox">
        	<div class="deanpubtitle">
                <h4>专访</h4>
                <div class="deanpbright">
                    <a href="#" target="_blank">更多</a>
                </div>
                <div class="clear"></div>
            </div>
            <div class="deanimg_news">
                <!--[diy=deanimg_news]--><div id="deanimg_news" class="area"><div id="framez0ZqQ0" class="frame move-span cl frame-1"><div id="framez0ZqQ0_left" class="column frame-1-c"><div id="framez0ZqQ0_left_temp" class="move-span temp"></div><!--{block/288}--></div></div></div><!--[/diy]-->
                
                <div class="clear"></div>
            </div>
        </div>
        <!--ads-->
        <div class="deansideads"><!--[diy=deansideads]--><div id="deansideads" class="area"><div id="frameV1086V" class="frame move-span cl frame-1"><div id="frameV1086V_left" class="column frame-1-c"><div id="frameV1086V_left_temp" class="move-span temp"></div><!--{block/291}--></div></div></div><!--[/diy]--></div>
        
	</div>
</div>
<div class="wp mtn">
	<!--[diy=diy3]--><div id="diy3" class="area"></div><!--[/diy]-->
</div>

<!--{template common/footer}-->